.header {
    height: 5em;
    position: relative;

    .tab {
        display: inline-block;
        width: 50%;
        height: 100%;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.body {
    height: 100%;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}