.container {
    overflow-x: auto;

    .header {
        white-space: nowrap;
        display: inline-block;
        padding: 0em 1em;
        background-color: #000;
        border: 1px solid #000;
        

        .title {
            display: inline-block;
            text-align: center;
            color: #fff;
            cursor: pointer;
        }
    }

    .row {
        display: inline-block;
        white-space: nowrap;
        padding: 1em;
        border: 1px solid #dedede;
        position: relative;

        .cell {
            display: inline-block;
            text-align: center;
            white-space: normal;
            min-height: 1px;
        }

        .icon {
            position: absolute;
            left: 25px;
            top: 50%;

            fa-icon {
                cursor: pointer;
                position: relative;
                top: -50%;
            }
        }
    
    }

    .tiny {
        width: 50px;
    }
    
    .small {
        width: 125px;
    }

    .med {
        width: 280px;
    }

    .large {
        width: 360px;
    }

    .xlarge {
        width: 500px;
    }
}

.green {
    color: green;
}

.red {
    color: red;
}

.text-center {
    text-align: center;
}